
body {
  background-color: #fc5e55;
  background-image: linear-gradient(#fc5e55, #fa4083);
  min-height: 1024px;
  color: white;
  margin: auto;
  font-family: "Roboto", sans-serif;
}
.container {
  width: 1024px;
  min-height: 600px;
  margin: auto;
}
.header {
  width: 1024px;
  min-height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid white;
}
.navbar {
  height: 30px;
  width: 400px;
  justify-content: space-around;
  text-align: center;
  padding: 10px 0px 10px 0px;
  display: flex;
  justify-content: space-around;
}
.drop1,
.drop2,
.drop3 {
  background-color: rgba(217, 210, 210, 0.733);
  width: 92px;
  height: 60px;
  margin: auto;
  padding: 1rem 0px 1rem 0px;
  border-radius: 6px;
  z-index: 2;
  display: none;
}
.option {
  background-color: aliceblue;
  width: 73px;
  min-height: 20px;
  margin: auto;
  margin-bottom: 5px;
}
.option a {
  color: black;
  padding: 0px 10px 0px 12px;
  align-items: center;
  margin-top: 10px;
  font-family: "Roboto", sans-serif;
  font-style: bold;
}
div.option:hover {
  background-color: #fc5e55;
  transition-duration: 1.5s;
}
a.option1:hover,
a.option2:hover,
a.option3:hover {
  color: white;
}
button.book,
button.about,
button.contact {
  font-size: 1.1rem;
  padding-left: 20px;
  padding-right: 20px;
  background-color: #fc6158;
  border: none;
  color: white;
  border-radius: 6px;
}
.book:hover,
.about:hover,
.contact:hover {
  background-color: rgba(217, 210, 210, 0.733);
  color: black;
}
.navbutton:hover .drop1,
.navbutton:hover .drop2,
.navbutton:hover .drop3 {
  display:block;
}

.logo {
  width: 120px;
  height: 90px;
}
.main {
  width: 1024px;
  min-height: 300px;
  display: flex;
  align-items: center;
}
h1 {
  font-size: 3rem;
  font-family: "Playfair Display", serif;
  padding: 2rem 1rem 2rem 1rem;
}
h1:hover {
  color: rgb(62, 61, 61);
}
.box1 {
  flex: 2;
  padding-right: 160px;
}
.box2 {
  flex: 1;
}
.main_image {
  align-items: center;
  position: relative;
  border-radius: 10px;
  z-index: -1;
}
.para:hover {
  color: rgb(12, 11, 11);
}
.bookbutton {
  padding: 2rem 1rem 2rem 1rem;
}
.book_button {
  padding: 1rem 1rem 1rem 1rem;
  font-size: 1.1rem;
  background-color: white;
  border: none;
  width: 100px;
  height: 80px;
  border-radius: 8px;
  transition: width 0.9s;
}
.book_button:hover {
  width: 145px;
  background-color: rgb(248, 216, 6);
}
.cards {
  display: flex;
  justify-content: space-around;
  font-size: 1.1rem;
  padding: 2em 1rem 2rem 1rem;
}
.card1,
.card2,
.card3 {
  width: 250px;
  min-height: 250px;
  text-align: center;
  border-radius: 10px;
}
.card1 {
  background-image: url(image/card1.jpg);
  background-position: bottom;
  background-size: cover;
}
.card2 {
  background-image: url(image/card2.jpg);
  background-position: bottom;
  background-position: left;
  background-size: cover;
}
.card3 {
  background-image: url(image/card3.jpg);
  background-position: bottom;
  background-size: cover;
}
.para {
  font-size: 1.1rem;
  line-height: 2rem;
  color: rgba(255, 255, 255, 0.76);
  padding: 0.5rem 1rem 0.5rem 1rem;
}
h2 {
  font-size: 2rem;
  font-weight: 900;
  color: rgba(255, 255, 255, 0.7);
  margin: 0px 0px 0px 0px;
}
.cards p {
  color: rgba(255, 255, 255, 0.5);
  line-height: 1.5rem;
  margin: 10px 24px 10px 24px;
}
#bike,
#service,
#call {
  padding: 20px 10px 20px 10px;
  color: rgba(254, 251, 251, 0.584);
}
.c:hover {
  text-decoration: underline;
  color: white;
}

section {
  display: flex;
  justify-content: space-around;
  margin: 2rem 0rem 2rem 0rem;
}
button.b1,
button.b2 {
  width: 400px;
  min-height: 250px;
  padding: 3rem 2rem 3rem 2rem;
  background-color: #fa6b9f00;
  border: 1px solid rgb(255, 255, 255);
  border-radius: 10px;
}
button.b1:hover,
button.b2:hover {
  background-color: rgba(118, 118, 118, 0.205);
  border-color: black;
  border-radius: 10px;
}
p {
  color: rgba(255, 255, 255, 0.5);
  line-height: 1.5rem;
  font-family: "Playfair Display", serif;
  font-size: 1.1rem;
}
.b1c1:hover,
.b2c2:hover {
  border: none;
  color: black;
}

section.testimonial {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 20px;
  row-gap: 20px;
  margin: 2rem 2rem 2rem 2rem;
}
.test1,
.test2,
.test3,
.test4 {
  background-color: rgba(255, 255, 255, 0);
  border: 1px solid white;
  min-height: 100px;
  max-width: 350px;
  justify-content: center;
  transition: width 200ms;
  position: relative;
}
.test1 p,
.test2 p,
.test3 p,
.test4 p {
  padding: 1.1rem 2rem 1.1rem 2rem;
}
.test1:hover,
.test2:hover,
.test3:hover,
.test4:hover {
  max-width: 350px;
  background-color: rgba(255, 255, 255, 0.185);
}
.delete {
  margin: auto;
  background-color: rgba(255, 255, 255, 0.393);
  width: 100px;
  min-height: 10px;
  transition: width 2s;
}
.delete:hover {
  width: 1024px;
}
footer{
  background-color: rgba(128, 128, 128, 0.491);
  width: 1024px;
  height: 124px;
  text-align: center;
  margin: auto;
}
footer p{
  width: 300px;
  margin: auto;
}
footer p.detail{
  font-size: small;
  
}
